body{
    background-color: aquamarine;
}
.fa {
    color: darkblue;
}
.box-part{
    background-color: whitesmoke;
    padding: 40px 0px;
   
}
span{
    font-size: 13px;
}
.text{
    margin: 20px 0px;
}
a{
   border-bottom: 2px solid rgb(70, 70, 224);
}
.col-md-4{
    margin: 40px 0px;
}
 